<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
  <div th:fragment="navbar">

        <!-- this is header -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
                    </li>

                    <div sec:authorize="hasAnyAuthority('ADMIN','USER','STUDENT','TEACHER')">
                        <li class="nav-item">
                            <a class="nav-link" href="/mark">Журнал <span class="sr-only">(current)</span></a>
                        </li>
                    </div>
                    <div sec:authorize="hasAnyAuthority('ADMIN','USER','STUDENT','TEACHER')">
                        <li class="nav-item">
                            <a class="nav-link" href="/work">Работы <span class="sr-only">(current)</span></a>
                        </li>
                    </div>

                    <div sec:authorize="hasAnyAuthority('ADMIN','USER')">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Работа с файлами
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{/upload}">Форма загрузки файла</a>
                                <a class="dropdown-item" th:href="@{/download}">Список загруженных файлов</a>
                            </div>
                        </li>
                    </div>

                    <div sec:authorize="hasAnyAuthority('ADMIN','USER')">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                панель администратора
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{/user}">cписок пользователей</a>
                                <a class="dropdown-item" th:href="@{/student}">список студентов</a>
                                <a class="dropdown-item" th:href="@{/teacher}">список преподователей</a>
                                <a class="dropdown-item" th:href="@{/register}">добавить нового пользователя</a>
                            </div>
                    </div>



                    <div sec:authorize="hasAnyAuthority('ADMIN','USER','STUDENT','TEACHER')">
                        <li class="nav-item">
                            <a class="nav-link" href="/calendar">Календарь<span class="sr-only">(current)</span></a>
                        </li>
                    </div>
                </ul>
            </div>

            <div class="navbar-text mr-3">
                <form class="form" th:action="@{/logout}" method="post">
                    <span sec:authorize="isAuthenticated()">
                        <span sec:authentication="name"></span>
                            <button sec:authorize="isAuthenticated()"
                                    class="btn btn-success text-white my-2 my-sm-0">Выход</button>
                        </span>
                </form>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="btn btn-success text-white" th:href="@{/login}">Авторизация</a>
                    </li>
            </div>
      </nav>
 </div>