.table_id {
    border-spacing: 0;
    width: 90%; /*Ширина таблицы*/
    /*Отступ снизу от таблицы*/
    /*!*Отступ сверху от таблицы*!*/
    /*!*Отступ сверху от таблицы*!*/
    margin: 10px auto;

    padding: 0; /*Отступы внутри таблицы*/
    font-size: 14px; /*Размер шрифта*/
    border: 1px solid #dddddd; /*Граница таблицы*/
    border-spacing: 0; /*Отступы между границами ячеек*/
    border-collapse: separate; /*Границы ячеек не склеиваются*/
    -webkit-border-radius: 5px; /*Радиус скругления углов у таблицы Safari, Chrome*/
    -moz-border-radius: 5px; /*Радиус скругления углов у таблицы Mozilla*/
    border-radius: 5px; /*Радиус скругления углов у таблицы*/
    color: #666666; /*Цвет текста в таблице*/
    font-family: Arial; /*Семейство шрифтов*/
}
.table_id th, .table_id td {
    border: 1px solid #888;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 18px; /*Межстрочный интервал*/
    position: relative;
    cursor: pointer;
}
/* Hover */
.table_id td:hover:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 3px solid #ffe5c5;
}

/* Click */
.table_id td.active:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 3px solid orange !important;
}
.pagination-div{

    user-select: none;
}
.pagination-div span{
    border-radius:3px;
    border:1px solid #999;
    padding:5px;
    margin:10px 0px 0px 10px;
    display:inline-block}
span.selected{
    background:#ccf;
}

.line {
    display:inline-block;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    background-size:100% 100%;
}

