<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css"/>
<div th:replace="fragments/header :: header"/>
</head>
<body>



<div class="container">

    <table class="table table-bordered" m-2>
        <thead>
        <tr class="d-flex">
            <th class="col" scope="col">Id</th>
            <th class="col" scope="col">Имя файла</th>
            <th class="col" scope="col">Скачать</th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-flex" th:each=" file : ${files}">
            <td class="col" scope="col" th:utext="${file.id}"></td>
            <td class="col" scope="col" th:utext="${file.filename}"></td>
            <td scope="col">
                <button type="button" th:data-filename="${file.filename}" onclick="window.location.href = '/downloadFile/'+this.getAttribute('data-filename')" > скачать </button>
             </td>
        </tr>
        </tbody>
    </table>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>