<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

   <!-- <div class="starter-template">
        <h3 class="text-center">Список пользователей</h3>
    </div>
    <div class="text">
        <a class="px-3" th:href="@{/student}">Список студентов</a>
    </div>
    <div class="text">
        <a class="px-3" th:href="@{/teacher}">Список преподователей</a>
    </div>
    <a class="px-3" th:href="@{/register}">Добавить нового пользователя</a>-->

    <table class="table table-bordered" m-2>
        <tr class="d-flex">
            <th class="col-sm" scope="col">Имя</th>
            <th class="col-sm" scope="col">Фамилия</th>
            <th class="col-sm" scope="col">Отчество</th>
        </tr>


        <tr class="d-flex" th:each=" file : ${result}">

            <td class="col-sm" scope="col" th:utext="${file.id}"></td>
            <td class="col-sm" scope="col" th:utext="${file.filename}"></td>
            <td class="col-sm" scope="col" th:utext="${file.filecode}"></td>

            </td>
        </tr>
    </table>



    <div th:replace="fragments/paginable :: page"/>


</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>