<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css"/>


</head>
<body>

<div th:replace="fragments/header :: header"/>


<div class="container">
    <div class="text-left">
        <a class="btn btn-success m-3 btn-sm" data-toggle="collapse" href="#collapseExample" role="button"
           aria-expanded="false"
           aria-controls="collapseExample">
            выбрать месяц
        </a>
        <div class="collapse " id="collapseExample">
            <form th:action="@{/mark}" method="post">
                <input type="date" id="markDate" name="markDate" required="true"
                       class="form-control-sm" placeholder="дата создания">
                <input align="center" type="submit" class="btn btn-success btn-sm" value="выбрать"/>
            </form>
        </div>
    </div>

    <div class="text-center" th:utext="__${month}__"></div>

</div>
<table class="table_id">


    <tr>
        <th>Student</th>
        <th th:each="date: ${dateList}" th:text="${date}"></th>
    </tr>

    <tr th:each="st: ${student}">
        <td th:utext="${st.username}">Student</td>

       <!-- <td th:each="date: ${dateList}" th:id="tableGrade" th:name="${date}"th:data-thing="${m.nameLesson}" onclick="tdclick(event,this.getAttribute('data-thing'));">-->
        <td th:each="date: ${dateList}" th:id="tableGrade" th:name="${date}">
            <div class="gradeTd"  th:each="m:${mark}" th:data-thing="${m.nameLesson}" onclick="tdclick(event,this.getAttribute('data-thing'));"
                 th:utext="${m.localDate.dayOfMonth==date and
                                m.localDate.getMonthValue()==__${monthValue}__ and
                                m.student?.id==st?.id}? ${m.grade}:''">
            </div>

        </td>
    </tr>

</table>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="grade" id="uname" name="grade" value="">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer"/>

</body>
</html>