<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css"/>



</head>
<body>

<div th:replace="fragments/header :: header"/>


<!--<script>
    function tdclick(e){
        alert("привет")
    };
</script>-->

<div class="container">
    <div class="text-left">
        <a class="btn btn-success m-3 btn-sm" data-toggle="collapse" href="#collapseExample" role="button"
           aria-expanded="false"
           aria-controls="collapseExample">
            выбрать месяц
        </a>
        <div class="collapse " id="collapseExample">
            <form th:action="@{/mark}" method="post">
                <input type="date" id="markDate" name="markDate" required="true"
                       class="form-control-sm" placeholder="дата создания">
                <input align="center" type="submit" class="btn btn-success btn-sm" value="выбрать"/>
            </form>
        </div>
    </div>

    <div class="text-center" th:utext="__${month}__"></div>

</div>
<table class="table_id">


    <tr>
        <th>Student</th>
        <th th:each="date: ${dateList}" th:id="${date}" th:text="${date}"></th>
    </tr>

    <tr th:each="st: ${student}">
        <td th:utext="${st.username}">Student</td>
        <td th:each="date: ${dateList}">
                <div th:each="m:${mark}"  th:utext="${m.localDate.dayOfMonth==date and m.localDate.month=='AUGUST'}? ${m.grade}:''" >
                </div>

        </td>
    </tr>

</table>


<div th:replace="fragments/footer :: footer"/>

</body>
</html>