<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h3 class="text-center">List of students</h3>
    </div>

    <table class="table table-bordered">
        <tr class="d-flex">
            <th class="col-sm-1" scope="col">id</th>
            <th class="col-sm-1" scope="col">login</th>
            <th class="col-sm-2" scope="col">email</th>
            <th class="col-sm" scope="col">firstname</th>
            <th class="col-sm" scope="col">lastname</th>
            <th class="col-sm" scope="col">patronymic</th>
            <th class="col-sm" scope="col">role</th>


        </tr>

        <tr class="d-flex" th:each=" student : ${students}">
            <td class="col-sm-1" scope="col" th:utext="${student.id}"></td>
            <td class="col-sm-1" scope="col" th:utext="${student.username}"></td>
            <td class="col-sm-2" scope="col" th:utext="${student.email}"></td>
            <td class="col-sm" scope="col" th:utext="${student.firstName}"></td>
            <td class="col-sm" scope="col" th:utext="${student.lastName}"></td>
            <td class="col-sm" scope="col" th:utext="${student.patronymic}"></td>
            <td class="col-sm" scope="col" th:utext="${student.roles}"></td>
        </tr>
    </table>
    <div class="pagination-div">
        <ul class="pagination justify-content-center">
        <span th:if="${students.hasPrevious()}">
            <a th:href="@{/student(page=${students.number-1},size=${students.size})}">Previous</a>
        </span>
            <th:block th:each="i: ${#numbers.sequence(0, students.totalPages - 1)}">
                <span th:if="${students.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${students.number == i}">
                 <a th:href="@{/student(page=${i},size=${students.size})}">[[${i}+1]]</a>
            </span>
            </th:block>
            <span th:if="${students.hasNext()}">
            <a th:href="@{/student(page=${students.number+1},size=${students.size})}">Next</a>
        </span>
        </ul>
    </div>


</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>