<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Страница работы с файлами</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container">

<form method="POST" enctype="multipart/form-data" action="/upload2">
    Файл для загрузки: <input type="file" name="file"><br/>
    Name: <input type="text" name="name"><br /> <br /> <input type="submit" value="Загрузить"> Нажмите здесь чтобы загрузить файл
</form>

    <table class="table table-bordered">
        <tr class="d-flex">
            <th class="col-sm-2" scope="col">id</th>
            <th class="col-sm-1" scope="col">name</th>
            <th class="col-sm-1" scope="col">Загрузить</th>

        </tr>

        <tr class="d-flex" th:each="work: ${listOfFiles}">
            <td class="col-sm-2" scope="col" th:each="${file.filename}"></td>
            <td class="col-sm-1" scope="col"><div th:each="w:${file.filetype}"></div></td>
            <td class="col-sm-1" scope="col" th:utext="${}"></td>
        </tr>
    </table>


</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
