<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Страница работы с файлами</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container">

<form method="POST" enctype="multipart/form-data" action="/upload2">
    Файл для загрузки: <input type="file" name="file"><br/>
    Наименование файла: <input type="text" name="name"><br /> <br /> <input type="submit" value="Загрузить"> Нажмите здесь чтобы загрузить файл
</form>


</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
