<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h3 class="text-center">List of users</h3>
    </div>
    <div class="text">
        <a class="px-3" th:href="@{/student}">list of student</a>
    </div>
    <div class="text">
        <a class="px-3" th:href="@{/teacher}">list of teacher</a>
    </div>

    <table class="table table-bordered">
        <tr class="d-flex">
            <th class="col-sm-1" scope="col">id</th>
            <th class="col-sm-1" scope="col">login</th>
            <th class="col-sm-2" scope="col">email</th>
            <th class="col-sm" scope="col">firstname</th>
            <th class="col-sm" scope="col">lastname</th>
            <th class="col-sm" scope="col">patronymic</th>
            <th class="col-sm" scope="col">role</th>
            <!-- <th class="col-sm" scope="col">spec</th>-->
            <th class="col-sm-2" scope="col">edit</th>
        </tr>


        <tr class="d-flex" th:each=" user : ${users}">
            <td class="col-sm-1" scope="col" th:utext="${user.id}"></td>
            <td class="col-sm-1" scope="col" th:utext="${user.username}"></td>
            <td class="col-sm-2" scope="col" th:utext="${user.email}"></td>
            <td class="col-sm" scope="col" th:utext="${user.firstName}"></td>
            <td class="col-sm" scope="col" th:utext="${user.lastName}"></td>
            <td class="col-sm" scope="col" th:utext="${user.patronymic}"></td>
            <td class="col-sm" scope="col" th:utext="${user.roles}"></td>
            <td class="col-sm-2" scope="col">
                <a class="btn btn-outline-success" th:href="@{/edit/{id}(id=${user.id})}">edit</a>
                <a class="btn btn-outline-success" th:href="@{/delete/{id}(id=${user.id})}">delete</a>
            </td>
        </tr>
    </table>

    <div class="pagination-div">
        <ul class="pagination justify-content-center">
            <!--<span th:if="${users.getTotalPages()==2}">-->
            <span th:if="${users.hasPrevious()}">
                    <a th:href="@{/user(page=${users.number-1},size=${users.size})}">Previous</a>
                </span>
            <th:block th:each="i: ${#numbers.sequence(0, users.totalPages - 1)}">
                <span th:if="${users.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${users.number == i}">
                         <a th:href="@{/user(page=${i},size=${users.size})}">[[${i}+1]]</a>
                    </span>
            </th:block>
            <span th:if="${users.hasNext()}">
                    <a th:href="@{/user(page=${users.number+1},size=${users.size})}">Next</a>
               </span>
            <!--  </span>-->
        </ul>

    </div>


</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>