<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <form th:action="@{/edit}" th:object="${user}" method="post">
        <div class="form-group mt-3">
            <div class="starter-template">
                <h2 class="display-5 ml-3"> Редактирование пользователя </h2>
            </div>

            <div class="m-3">

                <input type="hidden" class="form-control" name="userId" th:value="${user.id}">
                <div class="form-group">
                    <label class="input-group-text bg-success text-white">Login</label>
                 <input type="text" name="username" th:value="${user.username}" class="form-control">
                </div>
                <div class="form-group">
                    <label class="input-group-text bg-success text-white">email</label>
                    <input type="email" name="email" th:value="${user.email}" class="form-control">
                </div>
                <div class="form-group">
                    <div th:each="role:${roles}">
                        <input th:type="checkbox" th:name="${role}" th:checked="${#lists.contains(user.roles, role)}">
                        <span th:text="${role}"></span>
                    </div>
                </div>

                <button type="submit"> Save</button>

            </div>
        </div>
    </form>


</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>