<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h3 class="text-center">Список пользователей</h3>
    </div>
    <div class="text">
        <a class="px-3" th:href="@{/student}">Список студентов</a>
    </div>
    <div class="text">
        <a class="px-3" th:href="@{/teacher}">lСписок преподователей</a>
    </div>
    <a class="px-3" th:href="@{/register}">Добавить нового пользователя</a>

    <table class="table table-bordered">
        <tr class="d-flex">
            <th class="col-sm-1" scope="col">id</th>
            <th class="col-sm-1" scope="col">login</th>
            <th class="col-sm-2" scope="col">email</th>
            <th class="col-sm" scope="col">firstname</th>
            <th class="col-sm" scope="col">lastname</th>
            <th class="col-sm" scope="col">patronymic</th>
            <th class="col-sm" scope="col">role</th>
            <!-- <th class="col-sm" scope="col">spec</th>-->
            <th class="col-sm-2" scope="col">edit</th>
        </tr>


        <tr class="d-flex" th:each=" user : ${result}">
            <td class="col-sm-1" scope="col" th:utext="${user.id}"></td>
            <td class="col-sm-1" scope="col" th:utext="${user.username}"></td>
            <td class="col-sm-2" scope="col" th:utext="${user.email}"></td>
            <td class="col-sm" scope="col" th:utext="${user.firstName}"></td>
            <td class="col-sm" scope="col" th:utext="${user.lastName}"></td>
            <td class="col-sm" scope="col" th:utext="${user.patronymic}"></td>
            <td class="col-sm" scope="col"><div th:each="r:${user.roles}"><span th:utext="${r.name()}"></span></div></td>
            <td class="col-sm-2" scope="col">
                <a class="btn btn-success" th:href="@{/edit/{id}(id=${user.id})}">edit</a>
                <a class="btn btn-success" th:href="@{/delete/{id}(id=${user.id})}">delete</a>
            </td>
        </tr>
    </table>



    <div th:replace="fragments/paginable :: page"/>


</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>