<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <a class="btn btn-success mt-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
       aria-controls="collapseExample">
        Добавить работу
    </a>
    <div class="collapse " id="collapseExample">
        <div class="form-group mt-3">

            <form th:action="@{/work}" th:object="${work}" method="post">
                <div class="m-3">
                    <div class="form-group">
                        <input type="text" th:field="*{title}" class="form-control input-lg" placeholder="название работы">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{work}"></textarea>
                    </div>
                    <div class="input-group mb-3">

                           <input type="date" id="inputGroupSelect01" class="form-control" th:field="*{createDate}" >
                     <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01">дата создания</label>
                          </div>
                </div>
                    <input align="center" type="submit" class="btn btn-success" value="send"/>

                </div>
            </form>
        </div>
    </div>
    <div class="starter-template text-center">
        <h3>Выполненные работы</h3>
    </div>

    <table class="table table-bordered">
        <tr class="d-flex">
            <th class="col-sm-2" scope="col">название</th>
            <th class="col-sm-1" scope="col">статус</th>
            <th class="col-sm-1" scope="col">автор</th>
            <th class="col-sm-2" scope="col">дата создания</th>
            <th class="col-sm-2" scope="col">коментарий</th>
            <th class="col-sm-2" scope="col">дата коментария</th>
            <th class="col-sm-2" scope="col">действия</th>
        </tr>

        <tr class="d-flex" th:each="work: ${works}">
            <td class="col-sm-2" scope="col" th:utext="${work.title}"></td>
            <td class="col-sm-1" scope="col"><div th:each="w:${work.state}"><span th:utext="${w.name()}"></span></div></td>
            <td class="col-sm-1" scope="col" th:utext="${work.authorOfWork}"></td>
            <td class="col-sm-2" scope="col" th:utext="${work.createDate}"></td>
            <td class="col-sm-2" scope="col" th:utext="${work?.review?.text}? ${work.review.text}:'нет'" ></td>
            <td class="col-sm-2" scope="col" th:utext="${work?.review?.localDate}?${work.review.localDate}:'нет'"></td>

            <!--<div sec:authorize="hasAnyAuthority('ADMIN','STUDENT')">-->
                <td class="col-sm-2" scope="col">
                    <a class="btn btn-success" th:href="@{/workedit/{id}(id=${work.id})}">edit</a>
                    <a class="btn btn-success" th:href="@{/workdelete/{id}(id=${work.id})}">delete</a>
             <!--   </td>
            </div>-->
        </tr>
    </table>


    <!-- <div th:replace="fragments/paginable :: page"/>-->


</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>