<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="form-group mt-3">
        <div class="starter-template">
            <h2 class="display-5 ml-3"> Редактирование работы </h2>
        </div>
        <form th:action="@{/workedit}" th:object="${work}" method="post">
            <div class="m-3">
                <input type="hidden" class="form-control" th:field="*{id}">
                <div class="form-group">
                    <label class="input-group-text bg-success text-white">название работы</label>
                    <input type="text" th:field="*{title}" required="true"
                           id="title" class="form-control input-lg mt-1" placeholder="название работы">
                </div>
                <div class="form-group">
                    <label class="input-group-text bg-success text-white">текст работы</label>
                    <textarea class="form-control mt-1" th:field="*{work}" required="true"
                              id="work" rows="3"></textarea>
                </div>
                <div class="input-group mb-3">

                    <input type="date" id="createDate" th:field="*{createDate}" required="true"
                           class="form-control" placeholder="дата создания">
                    <div class="input-group-prepend">
                        <label class="input-group-text bg-success text-white" for="createDate">дата создания</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="input-group-text bg-success text-white">Коментарий учителя</label>
                    <textarea class="form-control mt-1" th:field="*{review.text}"
                              id="comment" rows="3"></textarea>
                </div>
                <div class="input-group mb-3">

                   <input type="date" id="commentDate" th:field="*{review.localDate}"
                           class="form-control" placeholder="дата создания">
                    <div class="input-group-prepend">
                        <label class="input-group-text bg-success text-white" for="commentDate">дата комента</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <select type="text" id="workstate" class="form-control" th:field="*{state}">
                        <option th:each="w: ${workstate}"
                                th:value="${w.name()}"
                                th:utext="${w.name()}"/>
                    </select>
                    <div class="input-group-prepend">
                        <label class="input-group-text bg-success text-white" for="workstate">статус работы</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="input-group-text bg-success text-white">оценка</label>
                    <input type="text" th:field="*{mark.grade}" required="true"
                           id="grade" class="form-control-sm input-lg mt-1" placeholder="оценка">
                </div>


                <div sec:authorize="hasAnyAuthority('USER','TEACHER')">
                    <script>
                        document.getElementById('title').readOnly=true;
                        document.getElementById('work').readOnly=true;
                        document.getElementById('createDate').readOnly=true;
                        document.getElementById('createDate').readOnly=true;
                        document.getElementById('comment').readOnly=false;
                        document.getElementById('commentDate').readOnly=false;
                        document.getElementById('workstate').readOnly=false;
                    </script>

                </div>
                <div sec:authorize="hasAnyAuthority('ADMIN','STUDENT')">
                    <script>
                        document.getElementById('title').readOnly=false;
                        document.getElementById('work').readOnly=false;
                        document.getElementById("createDate").readOnly=false;
                        document.getElementById('comment').readOnly=true;
                        document.getElementById('commentDate').readOnly=true;
                        document.getElementById('workstate').readOnly=true;
                    </script>
                </div>

                <input align="center" type="submit" class="btn btn-outline-success" value="отправить"/>

            </div>
        </form>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
