<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
        <a class="btn btn-primary mt-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
           aria-controls="collapseExample">
            Добавить работу
        </a>

        <div class="form-group mt-3" th:field="*{works}">


              <div class="m-3">
                      <span   th:utext="works." name="title" class="border border-primary" placeholder="название работы"></span>
                  <div class="form-group">
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="work"></textarea>
                  </div>

                  <div class="input-group mb-3">

                  <input type="date" id="inputGroupSelect01" class="form-control" name="createDate" placeholder="Допуск с">
                      <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">дата создания</label>
                  </div>

              </div>

                   <input align="center" type="submit" class="btn btn-outline-success" value="send"/>

              </div>
        </div>




</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>